/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.main-background {
  background-image: url("./images/bg.jpg");
  background-position: center;
}

/* styles.css */
.LocationSyte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* styles.css */
.fira-code {
  font-family: "Fira Code", monospace;
}

.statusResident {
  margin-top: -100px;
}
