@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .flex-wrap {
    justify-content: center;
  }

  .w-full {
    width: 100%;
  }

  .sm\:w-1\/2,
  .md\:w-1\/4 {
    width: 100%;
  }
}
