@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
/* ... tus estilos existentes ... */

/* Media query para pantallas pequeñas (hasta 640px) */
@media (max-width: 640px) {
  .flex-wrap {
    justify-content: center; /* Centrar verticalmente las tarjetas en pantallas pequeñas */
  }

  .w-full {
    width: 100%; /* Las tarjetas ocuparán el ancho completo en pantallas pequeñas */
  }

  .sm\:w-1\/2,
  .md\:w-1\/4 {
    width: 100%; /* Cambiar el ancho de las tarjetas en pantallas pequeñas */
  }
}
